# Exploring

Explore the data and write down what you have found. 
Con un primer vistazo, vemos:
- De 25723 entries, hay 17021 nulos (Minimo), teniendo en cuenta que el Cas number  o la fecha son los más importantes. 
- We can see that there are a seies of data, which are without case number and data. 
- Therefore there´s a possibility for purge all rows, in which there is no information given
- Hay dos columnas con solo un dato, estas no presentarán ningún valor a la estadistica. (se borrarán más adelante)
### Descubriendo columnas y entendiendo su información
#### 1.1 Case numbers / Dates / Year
Estas tres columnas están relacionadas, ya que se basan en la fecha en la que ocurrió o se reportó.
From the dictionary of Dates:
- It can be seen that dates are repeated by two sometimes, I checked that this is casuall
- There are some dates that are "reported" which are related to the case number ending in R (2017.11.25.R)
- Fechas que tienene el año como 144, que en realidad se refieren al 1944 (mirando el case number o el year)
- Estas fechas suelen estar contrastadas y corregidas en la columna "Year".
- como fecha se da la World War II
Sería posible incluso buscar estás fechas "erroneas"
#### 1.2 Type
Viendo el type viene esta pregunta : ¿qué quiere decir con "Type" en la columna?
- Provoked = que de alguna manera los han provocado.(acercandose a los tiburones,  etc)
- Invalid ?? =  (Normalmente coincide con "shark attack not confirmed")
- Sea Disaster - algun tipo de hundimiento, accidente aereo, etc
- Boating = Pescando, iendo en bote, canoa, kayak... etc
- Questionable = hay dos surfers
- Boatomg = 1 fishing 

Could be said that this is a category, having: 
- Provoked
- Unprovoked + Questionable + boating + boat
- Sea Disaster

Is it the sex related to this accidents? 
#### 1.3 Country / Area / location
Estas tres columnas tambien están relacionadas. 
Los paises más atacados por sharks son USA y AUSTRALIA. 

#### 1.4 Name / Sex
EL nombre de la columna es "Sex ", cambiar a "Sex".
- A veces en sexo pone N, porque son dos personas de distinto sexo  (luego hay otro que es un hombre)
- Si está en blanco o con "." significa que no tienene el nombre. 
- Cambiar variables como:  "M " a "M", "lli" a "M"

Esta categoría, sin mirarla muy de cerca podría verse bien dos categorias facilmente limpiables (Male y Female)

Hay unos 5737 datos de genero. Que según mi criterio es una buena manera de empezar. 

#### 1.5 Species
En "Species " vemos 3464 datos de los que podrian ser 6000, esto quiere decir que habrá muchos datos sin poder saber la especie.

- Descubrimos que hay algunas datos en los que se dice que los tiburones no estaban confirmados.
- Se tieneen muchos tipos, muy mal ordenados. Esta lista no nos sirve como categoria 

lista de sharks no confirmados:
"""
 'Shark involvement suspected but not confirmed': 4,
 'Shark involvement questionable': 4,
 'Shark involvement prior to death was not confirmed': 105,
 'Invalid': 102,
 'Shark involvement not confirmed': 88,
 'Questionable incident': 35,
 'Questionable': 34,
 'No shark involvement': 21,
 'Shark involvement prior to death not confirmed': 13,
 'Shark involvement suspected but not confirmed': 4,
 'Shark involvement questionable': 4,
 'Questionable Incident': 3,
 'Shark involvement not cofirmed': 2 """

### 1.6 Rest of values
Age: Datos no muy extensos, quizás para saber el perfil del muerto. 
Investigator or Source: Diferentes organismos y luegares de donde se han recogido los datos.

# DATA EXPLORING:

In [1]:
# Libraries
import numpy as np
# Your Code Here
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
import sys
sys.path.append("../")
from src.functions import *

In [4]:
df = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1")

In [7]:
df.index

RangeIndex(start=0, stop=25723, step=1)

In [8]:
df.info()
#From info, we can see that the columns "unamed" could be disregarded

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

Con este primer vistazo, vemos:
- De 25723 entries, hay 17021 nulos (Minimo), teniendo en cuenta que el Cas number  o la fecha son los más importantes. 
- We can see that there are a seies of data, which are without case number and data. 
- Therefore there´s a possibility for purge all rows, in which there is no information given
- Hay dos columnas con solo un dato, estas no presentarán ningún valor a la estadistica. (se borrarán más adelante)

# 1. Descubriendo columnas y entendiendo su información

In [9]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [10]:
df.value_counts("Case Number")

Case Number
0               2400
2006.09.02         2
1966.12.26         2
2009.12.18         2
1923.00.00.a       2
                ...
2001.01.06         1
2001.01.09         1
2001.01.21         1
2001.01.24         1
1981.05.19         1
Length: 6287, dtype: int64

In [11]:
## como buscar los NaN de una columna
df.loc[df["Case Number"] == "0"].count()

Case Number               2400
Date                         0
Year                         0
Type                         0
Country                      0
Area                         0
Location                     0
Activity                     0
Name                         0
Sex                          0
Age                          0
Injury                       0
Fatal (Y/N)                  0
Time                         0
Species                      0
Investigator or Source       0
pdf                          0
href formula                 0
href                         0
Case Number.1                0
Case Number.2                0
original order               7
Unnamed: 22                  0
Unnamed: 23                  0
dtype: int64

### 1.1 CASE NUMBER / DATES / YEAR
Estas tres columnas están relacionadas, ya que se basan en la fecha en la que ocurrió o se reportó.
From the dictionary of Dates:
- It can be seen that dates are repeated by two sometimes, I checked that this is casuall
- There are some dates that are "reported" which are related to the case number ending in R (2017.11.25.R)
- Fechas que tienene el año como 144, que en realidad se refieren al 1944 (mirando el case number o el year)
- Estas fechas suelen estar contrastadas y corregidas en la columna "Year".
- como fecha se da la World War II
- Case number / Case number 1 / Case number 3 - todos deberian tener el mismo valor. 


Sería posible incluso buscar estás fechas "erroneas"

In [12]:
df.value_counts("Date")

Date
1957              11
1942               9
1956               8
1941               7
1950               7
                  ..
22-Jul-2011        1
22-Jul-2014        1
22-Jul-2015        1
22-Jul-2017        1
\n1951.12.15.R     1
Length: 5433, dtype: int64

In [13]:
df.loc[df["Date"] == "22-Jul-144"]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
4644,1944.07.22,22-Jul-144,1944.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Hartenbos,Swimming,Albert Schmidt,M,...,"White shark, according to witnesses","M. Levine, GSAF",1944.07.22-Schmidt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.07.22,1944.07.22,1659.0,NaN,NaN

In [14]:
df[df['Case Number'].str.count('.R$')>0].head(2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
17,2018.04.30.R,Reported 30-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,female,M,...,NaN,"K. McMurray, TrackingSharks.com",2018.04.30.R-Thailand.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.30.R,2018.04.30.R,6286.0,NaN,NaN
31,2018.04.10.R,Reported 10-Apr-2018,2018.0,Invalid,BRAZIL,Alagoas,"Praia de Sauaçuhy, Maceió",Fishing,Josias Paz,M,...,Shark involvement not confirmed,"K. McMurray, TrackingSharks.com",2018.04.10.R-Paz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.10.R,2018.04.10.R,6272.0,NaN,NaN

In [15]:
df.loc[df["Date"] == "World War II"]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6271,ND.0032,World War II,0.0,Sea Disaster,PAPUA NEW GUINEA,Between New Ireland & New Britain,St. Georges Channel,Spent 8 days in dinghy,pilot,M,...,NaN,"G.A. Llano in Airmen Against the Sea, p.69; V....",ND-0032-RabaulPilot.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0032,ND.0032,32.0,NaN,NaN
6272,ND.0031,World War II,0.0,Sea Disaster,PAPUA NEW GUINEA,Madang Province,Off Lae,"Aircraft ditched in the sea, swimming ashore",male,M,...,NaN,"V.M. Coppleson (1962), p.257",ND-0031-Ditched-Aircrat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0031,ND.0031,31.0,NaN,NaN

### 1.2 Type
Viendo el type viene esta pregunta : ¿qué quiere decir con "Type" en la columna?
- Provoked = que de alguna manera los han provocado.(acercandose a los tiburones,  etc)
- Invalid ?? = 
- Sea Disaster - algun tipo de hundimiento, accidente aereo, etc
- Boating = Pescando, iendo en bote, canoa, kayak... etc
- Questionable = hay dos surfers
- Boatomg = 1 fishing 

Could be said that this is a category, having: 
- Provoked
- Unprovoked + Questionable + boating + boat
- Sea Disaster

Is it the sex related to this accidents?

In [16]:
df.value_counts("Type")

Type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
dtype: int64

In [17]:
invalid = df.loc[df["Type"] == "Invalid"]
invalid['Sex '].value_counts()

M    411
F     62
Name: Sex , dtype: int64

In [18]:
unprovoked = df.loc[(df["Type"] == "Unprovoked")& (df["Country"]=="USA"),["Type", "Year","Date", "Activity"]]

### 1.3 Country / Area / location
Estas tres columnas tambien están relacionadas. 

Los paises más atacados por sharks son USA y AUSTRALIA.

In [19]:
country = df.loc[(df["Country"] == "ITALY"),["Type", "Year","Area"]]
country.value_counts("Area").head()

Area
Tyrrhenian Sea    11
Sicily             7
Adriatic Sea       5
Tuscany            4
Liguria            4
dtype: int64

In [20]:
df.value_counts("Country").head(25)

Country
USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
BRAZIL               112
BAHAMAS              109
MEXICO                89
ITALY                 71
FIJI                  62
PHILIPPINES           61
REUNION               60
NEW CALEDONIA         53
CUBA                  46
MOZAMBIQUE            45
SPAIN                 44
INDIA                 40
EGYPT                 38
JAPAN                 34
CROATIA               34
PANAMA                32
SOLOMON ISLANDS       30
IRAN                  29
JAMAICA               27
GREECE                25
dtype: int64

### 1.4 Name / Sex
EL nombre de la columna es "Sex ", cambiar a "Sex"
- A veces en sexo pone N, porque son dos personas de distinto sexo  (luego hay otro que es un hombre)
- Si está en blanco o con "." significa que no tienene el nombre. 
- Cambiar variables como:  "M " a "M", "lli" a "M"

Esta categoría, sin mirarla muy de cerca podría verse bien dos categorias facilmente limpiables (Male y Female)

In [21]:
df.value_counts("Sex ")

Sex
M      5094
F       637
N         2
M         2
lli       1
.         1
dtype: int64

In [22]:
df.loc[df["Sex "] == "lli"]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1624,2004.11.11.b,11-Nov-2004,2004.0,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Brian Kang,lli,...,5.5 m [18'] white shark,"R. Collier, GSAF",2004.11.11.b-Kang.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2004.11.11.b,2004.11.11.b,4679.0,NaN,NaN

In [23]:
df.loc[df["Sex "] == "N"]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
4938,1934.07.11,11-Jul-1934,1934.0,Boating,AUSTRALIA,New South Wales,Cronulla,Fishing,"18' boat, occupants William & Leslie Newton",N,...,"Blue pointer, 11'","G.P. Whitley, ref: Daily Telegraph, 7/11/1934 ...",1934.07.11-Newton-boat-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.07.11,1934.07.11,1365.0,NaN,NaN
6131,1801.12.18.R,Reported 18-Dec-1801,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

### 1.5 Species
En "Species " vemos 3464 datos de los que podrian ser 6000, esto quiere decir que habrá muchos datos sin poder saber la especie.

- Descubrimos que hay algunas datos en los que se dice que los tiburones no estaban confirmados.
- Se tieneen muchos tipos, muy mal ordenados. Esta lista no nos sirve como categoria 

lista de sharks no confirmados:
"""
 'Shark involvement suspected but not confirmed': 4,
 'Shark involvement questionable': 4,
 'Shark involvement prior to death was not confirmed': 105,
 'Invalid': 102,
 'Shark involvement not confirmed': 88,
 'Questionable incident': 35,
 'Questionable': 34,
 'No shark involvement': 21,
 'Shark involvement prior to death not confirmed': 13,
 'Shark involvement suspected but not confirmed': 4,
 'Shark involvement questionable': 4,
 'Questionable Incident': 3,
 'Shark involvement not cofirmed': 2 """

In [24]:
No_confirmed = {'Shark involvement suspected but not confirmed': 4,
                            'Shark involvement questionable': 4,
                            'Shark involvement prior to death was not confirmed': 105,
                            'Invalid': 102,
                            'Shark involvement not confirmed': 88,
                            'Questionable incident': 35, 
                            'Questionable': 34,
                            'No shark involvement': 21,
                            'Shark involvement prior to death not confirmed': 13,
                            'Shark involvement suspected but not confirmed': 4,
                            'Shark involvement questionable': 4,
                            'Questionable Incident': 3,
                            'Shark involvement not cofirmed': 2}

In [25]:
No_confirmed.keys()

dict_keys(['Shark involvement suspected but not confirmed', 'Shark involvement questionable', 'Shark involvement prior to death was not confirmed', 'Invalid', 'Shark involvement not confirmed', 'Questionable incident', 'Questionable', 'No shark involvement', 'Shark involvement prior to death not confirmed', 'Questionable Incident', 'Shark involvement not cofirmed'])

In [30]:
df.value_counts("Species ")

Species
White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        88
Tiger shark                                            73
                                                     ...
Lemon shark, 4' to 5'                                   1
Lemon shark, 6'                                         1
Lemon shark, 6' female                                  1
Lemon shark, 9'                                         1
Blue shark?                                             1
Length: 1549, dtype: int64

In [27]:
not_confirmed = df.loc[df["Species "] == 'Shark involvement prior to death unconfirmed']
not_confirmed.value_counts("Type")

Type
Invalid    68
dtype: int64

### 1.6 Rest of values
Investigator or Source:

In [28]:
df.value_counts("Case Number.2")

Case Number.2
2009.12.18        2
1983.06.15        2
1907.10.16.R      2
2013.10.05        2
1915.07.06.a.R    2
                 ..
2001.01.06        1
2001.01.09        1
2001.01.21        1
2001.01.24        1
0000.0214         1
Length: 6286, dtype: int64

In [29]:
df.loc[df["Case Number.2"]== "1983.06.15"]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2937,1983.06.15,15-Jun-1983,1983.0,Unprovoked,BAHAMAS,NaN,Carter Cay,NaN,Roger Yost,M,...,6' blacktip shark,"E. Pace, FSAF",1983.06.15-NV-Yost.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.06.15,1983.06.15,3366.0,NaN,NaN
2938,1983.06.15,15-Jun-1983,1983.0,Invalid,ITALY,Northwest Italy,Riomaggiore (Ligura),Scuba diving,Roberto Piaviali,M,...,Questionable incident,MEDSAF,1983.06.15-Piaviali.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.06.15,1983.06.15,3365.0,NaN,NaN

In [ ]:
df.value_counts("Area")